<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth" data-bind="rippleeffect">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle" data-bind="sidebarcollapse"><i class="material-icons">menu</i></a>
            <a href="#" class="navbar-brand">Character Sheet</a>
        </div>

        <div class="pmd-navbar-right-icon pull-right">
            <!--ko if:sessionHasSaved() == true-->            
                <span class="pull-left lastSavedMessage" data-bind="text: lastSavedPartialMessage()"></span>            
            <!--/ko-->
            
            <span class="btn-loader loader" data-bind="css: { hidden: !showLoader() }">loading...</span>
            <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle-right"><i class="material-icons md-light">more_horiz</i></a>
        </div>
    </div>
</nav>