@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p>
    Hello @CurrentUserPrincipal.Name. How's the weather in @CurrentUserPrincipal.Country?
</p>


<p>
    <a href="@Url.Action("logout","Auth")">Log Out</a>
</p>