@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Character Generator</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="description" content="CharacterSheetCreator">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
   
    <title>Character Sheet Dashboard</title>

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    
    <!-- Propeller css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/propeller.min.css">

    <!-- Propeller theme css-->
    <link rel="stylesheet" type="text/css" href="~/themes/css/propeller-theme.css" />
    
    <!-- Propeller admin theme css-->
    <link rel="stylesheet" type="text/css" href="~/themes/css/propeller-admin.css">
    
    <!-- Propeller sidebar css-->
    <link href="~/assets/css/sidebar.css" rel="stylesheet"/>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake|IM+Fell+English+SC|Jim+Nightshade|Metamorphous|Milonga|Pirata+One|MedievalSharp" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
</head>

<body>
    <div id="applicationHost">
        <div class="splash">
            <div class="message">
                Character Sheet Generator
            </div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    
    <!-- Scripts Starts -->
    <script src="~/assets/js/jquery-1.12.2.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/propeller/js/propeller.js"></script>

    <script>        
        window.jQuery || document.write('<script src="js/jquery-3.1.1.min.js">\x3C/script>')
    </script>
    
    <script src="~/lib/knockout/knockout-3.4.0.js"></script>
    <script src="~/lib/knockout/knockout-es5.js"></script>
    <script src="~/lib/knockout/knockout.punches.js"></script>
    <script src="~/lib/knockout/ko.plus.js"></script>
    <script src="~/lib/knockout/knockout.reactor.js"></script>
    <script src="~/lib/knockout/knockout.mapping.js"></script>
    <script src="~/lib/fuse.js"></script>
    <script src="~/lib/fuse.min.js"></script>

    
    
<script>
    
    $(document).ready(function() {
        var sPath=window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        $(".pmd-sidebar-nav").each(function(){
            $(this).find("a[href='#']").parents(".dropdown").addClass("open");
            $(this).find("a[href='#']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
            $(this).find("a[href='#']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
            $(this).find("a[href='#']").addClass("active");
        });
    });
</script>
    <script type="text/javascript">
        (function() {
            "use strict";
            var toggles = document.querySelectorAll(".c-hamburger");
            for (var i = toggles.length - 1; i >= 0; i--) {
                var toggle = toggles[i];
                toggleHandler(toggle);
            };
            function toggleHandler(toggle) {
                toggle.addEventListener( "click", function(e) {
                    e.preventDefault();
                    (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
                });
            }

        })();
    </script>

       
    <script src="~/lib/require/require.js" data-main="app/main"></script>
    

<!-- Scripts Ends -->
</body>

</html>
