@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Character Builder</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="description" content="CharacterSheetCreator">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    @Styles.Render("~/content/css")

    <!-- Range Slider css -->
    <link href="~/assets/css/nouislider.min.css" rel="stylesheet" />
    
    <!-- Nouislider css-->
    <link href="/assets/css/range-slider.css" type="text/css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake|IM+Fell+English+SC|Jim+Nightshade|Metamorphous|Milonga|Pirata+One|MedievalSharp" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
</head>

<body>
<div id="applicationHost">
    <div class="pageloading text-center">
        <h1>Loading...</h1>
        <span class="btn-loader loader">Loading...</span>
    </div>
    
</div>

<!-- Scripts Starts -->
    @Scripts.Render("~/scripts/vendor")

<script>        
    window.jQuery || document.write('<script src="js/jquery-3.1.1.min.js">\x3C/script>')
</script>

    @Scripts.Render("~/scripts/vendortwo")

    <script src="~/lib/require/require.js" data-main="app/main"></script>

<script>    
    $(document).ready(function() {
        var sPath=window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        $(".pmd-sidebar-nav").each(function(){
            $(this).find("a[href='#']").parents(".dropdown").addClass("open");
            $(this).find("a[href='#']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
            $(this).find("a[href='#']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
            $(this).find("a[href='#']").addClass("active");
        });
    });
</script>
    <script type="text/javascript">
        (function() {
            "use strict";
            var toggles = document.querySelectorAll(".c-hamburger");
            for (var i = toggles.length - 1; i >= 0; i--) {
                var toggle = toggles[i];
                toggleHandler(toggle);
            };
            function toggleHandler(toggle) {
                toggle.addEventListener( "click", function(e) {
                    e.preventDefault();
                    (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
                });
            }

        })();
    </script>

       
    
    

<!-- Scripts Ends -->
</body>

</html>
